tr.interested > td {
    background-color: #D3D6FF !important;
}

.multivote-toolbar > .aui-toolbar .toolbar-group {
    margin: 0;
}

.multivote-toolbar > .toolbar-split > .toolbar-group {
    margin-bottom: 0;
}

.multivote-toolbar > .toolbar-split {
    margin-left: 0;
}

table.multivoteTable {
    margin-top: 0;
}

.multivote-csv-dialog {
    width: 100%;
    height: 99%;
}

.multivote-csv-dialog > textarea {
    width: 100%;
    height: 80%;
}

.multivoteAudienceColumn {
    display: none;
}
